################################################
#                                              #
#                  TimedFly 4                  #
#               Made by By_Jack                #
#                                              #
################################################

# Prefix of the plugin.
Prefix: "&c&lTimedFly > &7"

# Enable this so your players can refund their flight time if they bought it by accident.
Refunds:
  Enable: true
  # The time they have until the refund is valid
  TimeNoRefund: '5m'
  # The amount of refunds players can make a day
  RefundsPerDay: 2

Database:
  # Type: sqlite for flatfile, and mysql or mongodb for an external database.
  Type: 'sqlite'
  # Only edit if Type is 'mysql' or 'mongodb'.
  Server:
    # name of your database
    Database: 'timedfly'
    # ip of your MySQL/MongoDB database
    Host: 'localhost'
    # port of your MySQL/Mongodb database, commonly is 3306/27017
    Port: 3306
    # username of your MySQL database
    Username: 'user'
    # password of your MySQL database
    Password: 'root'

CustomCommands:
  Enable: true
  # If set to true players will need a permission to use the command /fly (or the specified command)
  UsePermission:
    Enable: false
    Permission: 'timedfly.flygui'
  # Custom command to open the Timed Fly menu.
  Commands:
    - 'fly'
    - 'flymenu'

Gui:
  Enable: true
  # Custom name of the inventory
  DisplayName: "&cTimedFly Store"
  # Rows of the inventory (Use -1 to automatically set the slot size)
  Rows: -1

StopTimerOn:
  # If true the players time will be saved with the player leaves the server
  Leave: true

  # If true flight will be disabled for the provided time if the player attacks a mob/player.
  Attack:
    Enable: true
    # Disable flight if the player attacks the provided entity. (player, mob, all, hostile, pacific)
    Entity:
      - 'all'
      #- 'players' # You can provide multiple entities
      #- '!COW' # You can also provide an specific entity (add ! to the beginning to make it not disable flight if the entity after the ! was damaged)
    Cooldown: '10s'

  # If true flight will be disabled if the player is on the ground.
  Ground: false

  # If true the players time will be saved with the player enters one of the blacklisted worlds
  # Do not use if you are running the plugin with multiple servers liked via MySQL
  BlackListedWorld: false

# If true players with "timedfly.fly.skipstore" will toggle flight mode if a command from OpenMenuCommand is used.
ToogleFlight: false

# Set to true if you want to getFileConfiguration a message in the console saying who bought flight time.
LogConsoleOnBuy: false

# If true a bossbar will appear when a player buys time (only servers v1.9 and above)
BossBarTimer:
  Enable: false
  Color: green
  Style: SEGMENTED_6

# If true player will join flying if they have some time left and the timer will continue.
JoinFlying:
  # If false timer will not resume after joining.
  Enable: true
  # Amount of blocks above the player's location.
  Height: 2

# Set to false if you are lazy and you are using spigot 1.8
Sounds:
  Enable: true
  Announcer: ENTITY_EXPERIENCE_ORB_PICKUP
  FlightDisabled: ENTITY_WITHER_DEATH

# You can enable multiple currency types (Not recommended)
# Available currencies are: none, vault, tokenmanager, playerpoints, levels, exp
DefaultCurrency: vault

# This is the limit amount of time a player can add to his fly time
# bypass this with timedfly.bypass.limit
LimitMaxTime:
  Time: 30 minutes
  Cooldown: 1d

# Display some messages on Title/Actionbar.
Messages:
  Title: true
  Chat: true
  ActionBar: true
  # Announce the time left chosen below to the player (time in seconds)
  Announcer:
    Chat: false
    Titles: true
    Times:
      - '5m'
      - '1m'
      - '10s'
      - '5s'
      - '4s'
      - '3s'
      - '2s'
      - '1s'

# A list of world in which you want the plugin to be Enable.
World-List:
  # Available types:
  # enable: the plugin will work in worlds listed
  # disable: the plugin will not work in worlds listed
  # all: the plugin will work in all worlds
  Type: 'all'
  Worlds:
    - 'world'
    - 'survival'

Integrations:
  # If the server is running aSkyBlock and this is true players flight will be disabled when exiting the island
  aSkyblock: true

Check-For-Updates:
  # The name says it...
  Enable: true
  # Auto download new updates
  Auto-Download: false

# Choose your own message file, if the language is not found english will be used.
# Current languages english, spanish, hu, de, you can create your own and send it to me.
# Do not edit any of the languages because they will get re-generated on every restart.
  # this is to update the file in case there are new values.
  # If you want to use your own make another file with the name you want.
Language: english
